@font-face {
  font-family: 'unfold';
  src:  url('fonts/unfold.eot?h5vzfy');
  src:  url('fonts/unfold.eot?h5vzfy#iefix') format('embedded-opentype'),
    url('fonts/unfold.ttf?h5vzfy') format('truetype'),
    url('fonts/unfold.woff?h5vzfy') format('woff'),
    url('fonts/unfold.svg?h5vzfy#unfold') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="unf-"], [class*=" unf-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'unfold' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.unf-keyboard_arrow_right:before {
  content: "\e929";
}
.unf-social-linkedin:before {
  content: "\e922";
}
.unf-social-skype:before {
  content: "\e923";
}
.unf-social-tumbler:before {
  content: "\e924";
}
.unf-social-vimeo:before {
  content: "\e925";
}
.unf-social-dribbble:before {
  content: "\e926";
}
.unf-social-facebook:before {
  content: "\e927";
}
.unf-social-twitter:before {
  content: "\e928";
}
.unf-mail:before {
  content: "\e900";
}
.unf-contact:before {
  content: "\e900";
}
.unf-email:before {
  content: "\e900";
}
.unf-basket:before {
  content: "\e901";
}
.unf-shopping:before {
  content: "\e901";
}
.unf-cart:before {
  content: "\e901";
}
.unf-ecommerce:before {
  content: "\e901";
}
.unf-cart1:before {
  content: "\e902";
}
.unf-shopping1:before {
  content: "\e902";
}
.unf-ecommerce1:before {
  content: "\e902";
}
.unf-buy:before {
  content: "\e902";
}
.unf-purchase:before {
  content: "\e902";
}
.unf-envelope:before {
  content: "\e903";
}
.unf-email1:before {
  content: "\e903";
}
.unf-mail1:before {
  content: "\e903";
}
.unf-letter:before {
  content: "\e903";
}
.unf-contact1:before {
  content: "\e903";
}
.unf-envelope1:before {
  content: "\e904";
}
.unf-email2:before {
  content: "\e904";
}
.unf-mail2:before {
  content: "\e904";
}
.unf-letter1:before {
  content: "\e904";
}
.unf-contact2:before {
  content: "\e904";
}
.unf-phone:before {
  content: "\e905";
}
.unf-contact3:before {
  content: "\e905";
}
.unf-address-book:before {
  content: "\e906";
}
.unf-phone-book:before {
  content: "\e906";
}
.unf-contacts:before {
  content: "\e906";
}
.unf-address-book1:before {
  content: "\e907";
}
.unf-phone-book1:before {
  content: "\e907";
}
.unf-contacts1:before {
  content: "\e907";
}
.unf-search:before {
  content: "\e930";
}
.unf-sad-face:before {
  content: "\e92a";
}
.unf-sad-face1:before {
  content: "\e92b";
}
.unf-smiling-face:before {
  content: "\e92c";
}
.unf-smiling-face1:before {
  content: "\e92d";
}
.unf-neutral-face:before {
  content: "\e92e";
}
.unf-neutral-face1:before {
  content: "\e92f";
}
.unf-notebook-list:before {
  content: "\e908";
}
.unf-notebook-list1:before {
  content: "\e909";
}
.unf-notebook-text:before {
  content: "\e90a";
}
.unf-notebook-text1:before {
  content: "\e90b";
}
.unf-note-important:before {
  content: "\e90c";
}
.unf-note-important1:before {
  content: "\e90d";
}
.unf-note-checked:before {
  content: "\e90e";
}
.unf-note-checked1:before {
  content: "\e90f";
}
.unf-note-list:before {
  content: "\e910";
}
.unf-note-list1:before {
  content: "\e911";
}
.unf-note-text:before {
  content: "\e912";
}
.unf-note-text1:before {
  content: "\e913";
}
.unf-note-add:before {
  content: "\e914";
}
.unf-note-add1:before {
  content: "\e915";
}
.unf-notebook:before {
  content: "\e916";
}
.unf-notebook1:before {
  content: "\e917";
}
.unf-notebook2:before {
  content: "\e918";
}
.unf-notebook3:before {
  content: "\e919";
}
.unf-notebook4:before {
  content: "\e91a";
}
.unf-notebook5:before {
  content: "\e91b";
}
.unf-notebook6:before {
  content: "\e91c";
}
.unf-notebook7:before {
  content: "\e91d";
}
.unf-note:before {
  content: "\e91e";
}
.unf-note1:before {
  content: "\e91f";
}
.unf-shopping-bag:before {
  content: "\e920";
}
.unf-shopping-cart:before {
  content: "\e921";
}
